{% extends "layout.html" %}
{% block content %}
<title>Add bookmark</title>
<form id="typeSelector">
    <input type="radio" id="typeBook" name="type" value="book" checked="checked"/>
    <label for="typeBook">Book</label>
    <input type="radio" id="typeVideo" name="type" value="video" />
    <label for="typeVideo">Video</label>

</form>
<script>
    document.getElementById('typeSelector').addEventListener('click', (event) => {
        if (event.target.value === "book") {
            document.getElementById('selectedType').value = "book"
            document.getElementById('authorText').innerHTML = "Author:"
            document.getElementById('isbnDiv').hidden = false
            document.getElementById('linkDiv').hidden = true
        }
        else if (event.target.value === "video") {
            document.getElementById('selectedType').value = "video"
            document.getElementById('descriptionText').innerHTML = "Description:"
            document.getElementById('authorText').innerHTML = "Creator:"
            document.getElementById('isbnDiv').hidden = true
            document.getElementById('linkDiv').hidden = false

        }
    })
</script>

<form action="/add" method="POST">
    
    <p id="titleText">Title:</p> 
    <input type="text" name="title" oninvalid="alert('Name must be between 1-50 characters');" pattern=".{1,50}" required />
    <br><br>
    <p id="descriptionText">Description:</p> 
    <input type="text" name="description" required />
    <br><br>
    <p id="authorText">Author:</p>
    <input type="text" name="author" oninvalid="alert('Name must be between 1-50 characters');" pattern=".{1,50}" required />
    <br><br>
    <div id="isbnDiv">
        <p id="isbnText">ISBN:</p>
        <input type="text" name="ISBN" oninvalid="alert('Code must be between 1-50 characters');" pattern=".{1,50}" />
        <br><br>
    </div>
    <div id="linkDiv" hidden>
        <p id="linkText">Link:</p>
        <input type="text" name="link" />
        <br><br>
    </div>
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" id="selectedType" name="type" value="book">
    <input type="submit" value="Add bookmark">
</form>
{% endblock %}