{% extends "layout.html" %}
{% block content %}
<title>Create Account</title>
<form action="/create_account" method="POST">
Username: <br>
<input type="text" name="username" value="{{ user }}" oninvalid="alert('Username must be between 2-20 characters.');" pattern=".{2,20}" required>
<br>
Password: <br>
<input type="password" name="password" oninvalid="alert('Password must be between 5-50 characters.');" pattern=".{5,50}" required>
<br>
Password again: <br>
<input type="password" name="password2" required>
<br><br>
<input type="submit" value="Create Account">
</form>
{% if error %}
{{ error }}
{% endif %}
<br>
<br>
{% endblock %}