{% extends "layout.html" %}
{% block content %}
<title>Edit Podcast</title>
{% if session.username %}
<form action="/edit-bookmark" method="POST">
{% if podcast.unread %}<br>
Mark unread: <br>
<input type="radio" name="Unread" value="0" checked> Yes
<input type="radio" name="Unread" value="1"> No
<br>
{% else %}
Mark read: <br>
<input type="radio" name="Unread" value="0" checked> No
<input type="radio" name="Unread" value="1"> Yes
<br>
{% endif %}

Name: <br>
<input type="text" name="name" value="{{ podcast.podcast_name }}" oninvalid="alert('Name must be between 1-50 characters');" pattern=".{1,50}" /><br>
<br>

Creator:
<input type="text" name="creator" value="{{ podcast.creator }}" oninvalid="alert('Name must be between 1-50 characters');" pattern=".{1,50}" /><br>

Episode:
<input type="text" value="{{ podcast.episode_name }}" name="episode" /><br>

Link:
<input type="text" value="{{ podcast.link }}" name="link" /><br>

Description:
<input type="text" value="{{ podcast.description }}" name="description" /><br>


<br>
<input type="hidden" name="bookmark_type" value="podcast">
<input type="hidden" name="podcast_id" value="{{ podcast.podcast_id }}">
<input type="hidden" name="bookmark_id" value="{{ podcast.bookmark_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<br><br>
<input type="submit" value="Save changes">
</form>
<form action="/delete" method="POST">
  <button name="delete" value="delete">Delete Podcast</button>
  <input type="hidden" name="id" value="{{ podcast.podcast_id }}">
  <input type="hidden" name="bookmark_type" value="podcast">
</form>
{% endif %}
{% endblock %}