{% extends "layout.html" %}
{% block content %}
<title>Lukuvinkkikirjasto</title>
<br><h1>Lukuvinkkikirjasto</h1><br>
{% if session.username %}
<h2>Lukuvinkit</h2>
  <table class="table table-light">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>ISBN</th>
            <th>Read</th>
            <th>Added on</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.description}}</td>
            <td>{{book.isbn}}</td>
            <td>{{"Read" if book.unread else "Unread"}}</td>
            <td>{{book.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
