{% extends "layout.html" %}
{% block content %}
<title>View Video</title>
{% if session.username %}

<br><br>
<b>Video title:</b> {{ video.title }}<br>
<b>Creator:</b> {{ video.creator }}<br>
<b>Description:</b> {{ video.description }}<br>
<b>Link:</b> {{ video.link }}<br>
<b>Added on:</b> {{ video.date }}<br><br>
<b>Unread:</b> {{ video.unread }}<br><br>

Tags:
{% for tag in tags %}
{{ tag }}<br>
{% endfor %}

<br>
<button onclick="document.location='/edit/video/{{video.bookmark_id}}'">Edit Video</button>
{% endif %}
{% endblock %}