{% extends "layout.html" %}
{% block content %}
<title>View Scientific Article</title>
{% if session.username %}
Name of Scientific Article<br>
{{ article.title }}
<br><br>
Added on<br>
{{ article.date }}<br>
Authors<br>
{{ article.authors }}<br>
Publication title<br>
{{ article.publication_title }}<br>
DOI<br>
{{ article.doi }}
Year<br>
{{ article.year }}<br>
Publisher<br>
{{ article.publisher }}<br>

Description<br>
{{ description }}<br><br>

{{ article.unread }}<br><br>

Tags:
{% for tag in tags %}
{{ tag }}<br>
{% endfor %}

<br>
<button onclick="document.location='/edit/article/{{article.bookmark_id}}'">Edit Scientific Article</button>
{% endif %}
{% endblock %}