{% extends "layout.html" %}
{% block content %}
<title>View Podcast</title>
{% if session.username %}
Name of Podcast<br>
{{ podcast.podcast_name }}
<br><br>
Added on<br>
{{ podcast.date }}<br>
Creator<br>
{{ podcast.creator }}<br>
Episode<br>
{{ podcast.episode }}<br>
Link<br>
{{ podcast.link }}

Description<br>
{{ podcast.description }}<br><br>

{{ podcast.read }}<br><br>

Tags:
{% for tag in tags %}
{{ tag }}<br>
{% endfor %}

<br>
<button onclick="document.location='/edit/podcast/{{podcast.bookmark_id}}'">Edit podcast</button>
{% endif %}
{% endblock %}